



/* If the user sees this then some fixing is in order. UHG WHY */
body {
    background-image: url('../IMAGES/DisplayERROR.png');
    background-size: cover;
}

/* Sweet 1080p a perfectly fine resolution, if we stop progressing, this would be fine stopping point. */
@media screen and (min-width: 1862px) and (min-height: 944px) and (max-width: 1970px) and (max-height: 1130px)  {
    body {
        background-image: url('../IMAGES/TriedBG16.9.png');
        background-size: cover;

        #Welcome1 {
            font-family: Njal;
            font-size: xx-large;
            color: white;
            position: fixed;
            top: 10vh;
            left: 50vw;
            transform: translateX(-50%);
        }

        #Welcome1 {
            font-family: Njal;
            font-size: xx-large;
            color: white;
            position: fixed;
            top: 10vh;
            left: 30vw;
            transform: translateX(-50%);
        }

        #PTClogo {
            position: fixed;
            width: 25%;
            top: 8vh;
            left: 50vw;
            transform: translateX(-50%);

        }

        #Welcome2 {
            font-family: Njal;
            font-size: xx-large;
            color: white;
            position: fixed;
            top: 9.36vh;
            left: 68vw;
            transform: translateX(-50%);
        }

        #VisitText {
            font-family: Njal;
            font-size: x-large;
            color: white;
            position: fixed;
            top: 20vh;
            left: 50vw;
            transform: translateX(-50%);
        }
    }
}

/*   
            top: 2vh;
            left: 50vw;
            transform: translateX(-50%);     */