/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        background-image: url('./../Images/Backgrounds/TriedBG9.16.png');
        background-repeat: round;
        background-size: 100%;
    }
    .Welcoming {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .inner-welcoming {
        display: flex;
        flex-direction: row;
    }

    .inner-welcoming h1 {
        font-family: njal;
        color: white;
        font-size: large;
        align-self: center;
    }
    .inner-welcoming img {
        height: 6vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    main {
        height: 300vw;
    }

    .TheMeat {
        display: flex;
        flex-direction: column;
    }

    .Socials .Desktop-Socials {
        display: none;
    }

    .Socials .Mobile-Socials-Outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .Mobile-Socials-Outer h1 {
        text-decoration: underline;
        font-size: x-large;
    }

    .Socials .Mobile-Socials-Inner {
        display: flex;
        margin-top: 15px;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .Mobile-Socials-Inner a {
        color: cyan;
        text-decoration: none;
        font-size: large;
    }

    .TheMeat .Quotes {
        display: flex;
        flex-direction: column;
        background-image: url('./../Images/TempQuotesFinal.gif');
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        order: 3;
        flex: 1;
    }

    .Quotes h1 {
        font-size: x-large;
        font-family: Njal;
        align-self: center;
        text-decoration: underline;
    }

    .Quotes span {
        display: none;
    }

    .Quotes a {
        font-size: x-large;
        margin-top: auto;
        margin-bottom: 5px;
        font-family: Njal;
        align-self: center;
        color: aqua;
        text-decoration: none;
    }

    .TheMeat .MoTM {
        display: flex;
        flex-direction: row;
        
        order: 2;
        flex: 2;
    }

    .MoTM img {
        display: flex;
        align-self: center;
        border-style: solid;
        border-radius: 10%;
        border-width: 2px;
        border-color: orange;
        height: 30vh;
    }

    .MoTM-Inner {
        display: flex;
        flex: 1;
        flex-direction: column;
    /*
        border-style: solid;
        border-radius: 10%;
        border-width: 1px;
        border-color: rgb(1, 133, 249);
    */
    }

    .MoTM-audio {
        display: flex;
        align-self: center;
        width: 250px;
        margin-top: auto;
    }

    .MoTM h1 {
        font-family: Njal;
        font-size: larger;
        align-self: center;
        margin-top: 5px;
        background-color: rgba(60, 60, 60, 0);
    }

    .MoTM .MoTM-text {
        color: orange;
    }

    footer h1 {
        display: flex;
        font-size: xx-small;
    }
}







































































































/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        background-image: url('./../Images/Backgrounds/TriedBG9.16.png');
        background-repeat: round;
        background-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        background-image: url('./../Images/Backgrounds/TriedBG9.16.png');
        background-repeat: round;
        background-size: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-repeat: round;
        background-size: 100%;
    }
}

/* For Ipad fix */
@media only screen and (min-width: 1024px) and (max-width: 1124px) and (min-height: 1300px) {
    :root {
        background-image: url('./../Images/Backgrounds/TriedBG9.16.png');
        background-repeat: round;
        background-size: 100%;
    }

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-repeat: round;
        background-size: 100%;
    }

}

/* For 1920x1080p displays) */
@media only screen and (min-width: 1900px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-repeat: round;
        background-size: 100%;
    }

}
