/* Stuff to make other stuff work right */
*{
    padding: 0;
    margin: 0;
}
:root {
    /* If this gets displayed, something messed up. meaning more work  /:  ) */
    background-image: url('./../Images/Backgrounds/DisplayERROR.png');
    background-size: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 15vh;
}
main {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}
footer {
    height: 20px;
}
/* Don't mess with the above */



/* The top part of the site */
.Welcoming {
    display: flex;
    flex-direction: column;
}
.inner-welcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-welcoming h1 {
    font-family: Njal;
    color: white;
}

.inner-welcoming img {
    height: 8vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Welcoming p {
    font-family: Njal;
    color: white;
    align-self: center;
}



/* The middle part of the site */
.TheMeat {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
}

.TheMeat .Socials {
    flex: 1;
    border-style: solid;
    border-color: rgb(76, 0, 255);
    border-width: 1px;
    font-family: Njal;
    font-size: xx-large;
}

.Socials .Desktop-Socials {
    margin-left: 50px;
    font-family: Njal;
    font-size: xx-large;
}

.Desktop-Socials a {
    color: red;
    text-decoration: none;
}

.Desktop-Socials a:hover {
    color: white;
}

@media only screen and (max-width: 1458px) {
    .Socials .Desktop-Socials {
        font-size: large;
    }
}

.Socials .Mobile-Socials-Outer {
    display: none;
}

.TheMeat .Quotes {
    flex: 2;
    border-style: solid;
    border-color: rgb(0, 221, 255);
    border-width: 1px;
}

.TheMeat .MoTM {
    flex: 1;
    border-style: solid;
    border-color: rgb(0, 255, 34);
    border-width: 1px;
}




/* The bottom part of the site */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 136, 0, 0.718);
}

footer .Site-version {
    margin-right: auto;
}

footer h1 {
    font-size: small;
}

























/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-size: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-size: 100%;
    }

}

/* For 1920x1080p displays) */
@media only screen and (min-width: 1900px) {
    :root {
        background-image: url('./../Images/Backgrounds/Background-blured.jpg');
        background-size: 100%;
    }

}



/* Hopefully this goes used 
@media only screen and (min-width: 1300px) {

}

@media only screen and (min-width: 1560px) {

}
*/

