*{
    padding: 0;
    margin: 0;
}
:root {
    /* If this gets displayed, something messed up. meaning more work  /:  ) */
    background-image: url('../IMAGES/BGs/DisplayERROR.png');
    background-size: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 15vh;
}
main {
    flex: 1;
}
footer {
    height: 50px;
}
/* Don't mess with the above */

.Welcoming {
    display: flex;
    flex-direction: column;
}
.inner-welcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-welcoming h1 {
    font-family: Njal;
    color: white;
}

.inner-welcoming img {
    height: 8vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Welcoming p {
    font-family: Njal;
    color: white;
    align-self: center;
}




























/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        background-image: url('../IMAGES/BGs/600px.png');
        background-size: 100%;
    }
    .Welcoming {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .inner-welcoming {
        display: flex;
        flex-direction: row;
    }

    .inner-welcoming h1 {
        font-family: njal;
        color: white;
        font-size: large;
        align-self: center;
    }
    .inner-welcoming img {
        height: 6vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .Welcoming p {
        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        background-image: url('../IMAGES/BGs/600pxUP.png');
        background-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        background-image: url('../IMAGES/BGs/768px.png');
        background-size: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        background-image: url('../IMAGES/BGs/992px.png');
        background-size: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        background-image: url('../IMAGES/BGs/1200px.png');
        background-size: 100%;
    }

}

/* For 1920x1080p displays) */
@media only screen and (min-width: 1900px) {
    :root {
        background-image: url('../IMAGES/BGs/1900px.png');
        background-size: 100%;
    }

}



/* Hopefully this goes used 
@media only screen and (min-width: 1300px) {

}

@media only screen and (min-width: 1560px) {

}
*/

