/* Stuff to make other stuff work right */
*{
    padding: 0;
    margin: 0;
}
:root {
    /* If this gets displayed, something messed up. meaning more work  /:  ) */
    background-image: url('./../Images/Backgrounds/DisplayERROR.png');
    background-size: 100%;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 15vh;
}
main {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}
footer {
    height: 20px;
}
/* Don't mess with the above */



/* The top part of the site */
.Welcoming {
    display: flex;
    flex-direction: column;
}
.inner-welcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-welcoming h1 {
    font-family: Njal;
    color: white;
}

.inner-welcoming img {
    height: 8vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Welcoming p {
    font-family: Njal;
    color: white;
    align-self: center;
}



/* The middle part of the site */
.TheMeat {
    display: flex;
    flex-direction: row;
/*
    border-style: solid;
    border-color: white;
    border-width: 1px;
*/
    color: white;
}

.TheMeat .Socials {
    flex: 1;

/*
    border-style: solid;
    border-color: rgb(76, 0, 255);
    border-width: 1px;
*/

    font-family: Njal;
    font-size: xx-large;
}

.Socials .Desktop-Socials {
    margin-left: 50px;
    font-family: Njal;
    font-size: xx-large;
}

.Socials h1 {
    text-decoration: underline;
}

.Desktop-Socials a {
    color: red;
    text-decoration: none;
}

.Desktop-Socials a:hover {
    color: white;
}

@media only screen and (max-width: 1458px) {
    .Socials .Desktop-Socials {
        font-size: large;
    }
}

.Socials .Mobile-Socials-Outer {
    display: none;
}

.TheMeat .Quotes {
    background-image: url('./../Images/TempQuotesFinal.gif');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;

/*
    border-style: solid;
    border-color: rgb(0, 221, 255);
    border-width: 1px;
*/

}

.Quotes h1 {
    align-self: center;
    font-family: Njal;
    text-decoration: underline;
}

.Quotes span {
    height: 32vh;
}

.Quotes a {
    align-self: center;
    font-family: Njal;
    text-decoration: none;
    margin-top: 20px;
    font-size: xx-large;
}

.Quotes a:hover {
    color: white;
}

.TheMeat .MoTM {
    display: flex;
    flex-direction: column;
    flex: 1;

/*
    border-style: solid;
    border-color: rgb(0, 255, 34);
    border-width: 1px;
*/
}

.MoTM img {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-style: solid;
    border-radius: 10%;
    border-width: 2px;
    border-color: orange;
}

.MoTM .MoTM-Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    font-family: Njal;
}

.MoTM-Inner h1 {
    background-color: rgba(60, 60, 60, 0.53);
}



/* The bottom part of the site */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 136, 0, 0.718);
}

footer .Site-version {
    margin-right: auto;
}

footer h1 {
    font-size: small;
}





























/* Hopefully this goes used 
@media only screen and (min-width: 1300px) {

}

@media only screen and (min-width: 1560px) {

}
*/

